@model BlogExersice.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Профил</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Промени парола</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промени парола", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dd>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
