
@model PagedList.IPagedList<BlogExersice.Models.Post>
@using BlogExersice.Classes;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Постовете на татко:</h2>

<p>
    @Html.ActionLink("Създай нов пост", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Търси по Заглавие или Съдържание: @Html.TextBox("SearchString")
        <input type="submit" value="Търси" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Заглавие:", "Index", new { sortOrder = ViewBag.NameSortParm  })
        </th>
        <th>
            Съдържание:
        </th>
        <th>
            @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Автор:
        </th>
        <th>
            Действия:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(Utils.CutText(item.Body))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.Author != null)
                {
                    @item.Author.FullName
                }
                else
                {
                    <i>Неизвестен</i>
            }
            </td>
            <td>
                @Html.ActionLink("Промени", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Преглед", "Details", new { id = item.Id }) |
                @Html.ActionLink("Изтрий", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />

<p>
    Странница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) от @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</p>